OPEN_METEO_API_URL=https://api.open-meteo.com/v1/forecast
OPEN_METEO_AIR_QUALITY_URL=https://air-quality-api.open-meteo.com/v1/air-quality
OPEN_METEO_GEOCODING_URL=https://geocoding-api.open-meteo.com/v1/search
DATABASE_PATH=./data/aqi.db
